.filterZonaMapContainer{
  .filterZonaMap_openFilter{
    background-color: white;
    border: 1px solid #000;
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 2px 15px;
    text-align: center;
    cursor:pointer;

    .zonaMapCustomSvg,
    .filterZonaMap_selected,
    .filterZonaMap_arrow{
      float: left;
      margin: 2px;
      padding: 1px;
      line-height: 30px;
      vertical-align: middle;
    }
    svg{
      width: 40px;
      height: 40px;
      path{
        fill: blue !important;
      }
    }
  }
  .filterZonaMap_opts{
    background-color: rgba( 255, 255, 255, 1);
    padding: 20px;
    position: absolute;
    top:0;
    z-index: 2;
    border: 1px solid #000;
    display: none;
    -webkit-border-radius: 25px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius: 25px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-radius: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    area{
      cursor: pointer;
    }

    .zonaMap_primary{
      position: absolute;
      z-index: 2;
    }
    .zonaMap_map{

    }
    .zonaMap{
      position: absolute;
      z-index: 1;
      display:none;

      path{
        fill: blue !important;
      }
      &.selected{
        display:block;
      }
    }
    .zonaMap_title{
      width: 100%;
      text-align: center;
      padding: 5px 20px;
      height: 30px;
      font-size: 18px;
    }
    .zonaMap_reset{
      margin: 20px auto 0px;
      max-width: 200px;
      text-align: center;
      padding: 5px 10px;
      font-size: 18px;
      color: white;
      background-color: blue;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      cursor:pointer;
    }
  }
}
