.filterZonaMapContainer .filterZonaMap_openFilter {
  background-color: white;
  border: 1px solid #000;
  display: inline-block;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 2px 15px;
  text-align: center;
  cursor: pointer;
}
.filterZonaMapContainer .filterZonaMap_openFilter .zonaMapCustomSvg,
.filterZonaMapContainer .filterZonaMap_openFilter .filterZonaMap_selected,
.filterZonaMapContainer .filterZonaMap_openFilter .filterZonaMap_arrow {
  float: left;
  margin: 2px;
  padding: 1px;
  line-height: 30px;
  vertical-align: middle;
}
.filterZonaMapContainer .filterZonaMap_openFilter svg {
  width: 40px;
  height: 40px;
}
.filterZonaMapContainer .filterZonaMap_openFilter svg path {
  fill: blue !important;
}
.filterZonaMapContainer .filterZonaMap_opts {
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 2;
  border: 1px solid #000;
  display: none;
  -webkit-border-radius: 25px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 25px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.filterZonaMapContainer .filterZonaMap_opts area {
  cursor: pointer;
}
.filterZonaMapContainer .filterZonaMap_opts .zonaMap_primary {
  position: absolute;
  z-index: 2;
}
.filterZonaMapContainer .filterZonaMap_opts .zonaMap {
  position: absolute;
  z-index: 1;
  display: none;
}
.filterZonaMapContainer .filterZonaMap_opts .zonaMap path {
  fill: blue !important;
}
.filterZonaMapContainer .filterZonaMap_opts .zonaMap.selected {
  display: block;
}
.filterZonaMapContainer .filterZonaMap_opts .zonaMap_title {
  width: 100%;
  text-align: center;
  padding: 5px 20px;
  height: 30px;
  font-size: 18px;
}
.filterZonaMapContainer .filterZonaMap_opts .zonaMap_reset {
  margin: 20px auto 0px;
  max-width: 200px;
  text-align: center;
  padding: 5px 10px;
  font-size: 18px;
  color: white;
  background-color: blue;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
}
